In [1]:
import sys
import os
from os.path import dirname, realpath, join
base_dir = dirname(dirname(os.getcwd()))

import pandas as pd
from os.path import join
sys.path.insert(0, base_dir)
from config_path import PROSTATE_DATA_PATH, PLOTS_PATH, DATA_PATH

In [2]:
filename = join(PROSTATE_DATA_PATH,'processed/outputs_su2c_tcga_all_samples_n=980_rsem_results_filtered.csv')

In [3]:
df = pd.read_csv(filename)

In [4]:
df.shape

(12480801, 11)

In [5]:
df.head()

,gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM,sample,sequencing_type,tpm_id,HUGO_gene
0,ENSG00000000003.14_2_TSPAN6,"ENST00000373020.8_1_TSPAN6-201,ENST00000494424...",1872.50,1630.51,14.0,0.29,0.20,MO_1008-Tumor_Dura,tcap,MO_1008-Tumor_Dura_tcap,TSPAN6
1,ENSG00000000003.14_2_TSPAN6,"ENST00000373020.8_1_TSPAN6-201,ENST00000494424...",2206.00,1985.25,690.0,22.29,22.98,MO_1012-Tumor-Subcutaneous_nodule,polyA,MO_1012-Tumor-Subcutaneous_nodule_polyA,TSPAN6
2,ENSG00000000003.14_2_TSPAN6,"ENST00000373020.8_1_TSPAN6-201,ENST00000494424...",2243.05,1987.86,247.0,2.94,3.04,MO_1013-Tumor,polyA,MO_1013-Tumor_polyA,TSPAN6
3,ENSG00000000003.14_2_TSPAN6,"ENST00000373020.8_1_TSPAN6-201,ENST00000494424...",2242.55,1990.72,1482.0,18.63,21.03,MO_1014-Tumor,polyA,MO_1014-Tumor_polyA,TSPAN6
4,ENSG00000000003.14_2_TSPAN6,"ENST00000373020.8_1_TSPAN6-201,ENST00000494424...",2159.61,1898.68,402.0,9.84,7.36,MO_1015-Tumor,tcap,MO_1015-Tumor_tcap,TSPAN6

In [6]:
len(df.gene_id.unique())

18927

In [7]:
len(df['transcript_id(s)'].unique())

18927

In [34]:
mapping_file = join(PROSTATE_DATA_PATH, 'raw_data/sample_mapping.tsv')

In [38]:
mapping_id = pd.read_csv(mapping_file, sep='\t')

In [39]:
mapping_id.head()

,Tumor_Sample_Barcode,patient,rna_sample_id,tpm_col,fusion_name
0,TCGA-EJ-5499,PRAD-TCGA-EJ-5499-Tumor-SM-1U3IG,PRAD-EJ-5499-TP,PRAD-EJ-5499-TP_polyA,PRAD-EJ-5499-TP
1,MO_1012,MO_1012-Tumor-Abdomen_wall_nodule,MO_1012-Tumor-Subcutaneous_nodule,MO_1012-Tumor-Subcutaneous_nodule_polyA,MO_1012-Tumor-Subcutaneous_nodule
2,TCGA-CH-5752,PRAD-TCGA-CH-5752-Tumor-SM-1U3ID,PRAD-CH-5752-TP,PRAD-CH-5752-TP_polyA,PRAD-CH-5752-TP
3,06-134H1_LN,06-134H1_LN,NaN,NaN,NaN
4,SC_9126,SC_9126_Tumor,SC_9126_Tumor,SC_9126_Tumor_tcap,SC_9126_Tumor

In [42]:
mapping_id = mapping_id[['Tumor_Sample_Barcode','tpm_col']]

In [44]:
mapping_id.dropna(subset = ['tpm_col'], inplace=True)

In [46]:
mapping_id.head()

         Tumor_Sample_Barcode                                  tpm_col
0                TCGA-EJ-5499                    PRAD-EJ-5499-TP_polyA
1                     MO_1012  MO_1012-Tumor-Subcutaneous_nodule_polyA
2                TCGA-CH-5752                    PRAD-CH-5752-TP_polyA
4                     SC_9126                       SC_9126_Tumor_tcap
6  PROS01448-6115227-SM-67ERU   PROS01448-6115227-Tumor-SM-67ERU_polyA

In [47]:
mapping_id = mapping_id.set_index('tpm_col')

In [48]:
mapping_id.shape

(659, 1)

In [49]:
df  = df.join(mapping_id, how='inner', on = 'tpm_id')

In [50]:
df.head()

,gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM,sample,sequencing_type,tpm_id,HUGO_gene,Tumor_Sample_Barcode
0,ENSG00000000003.14_2_TSPAN6,"ENST00000373020.8_1_TSPAN6-201,ENST00000494424...",1872.50,1630.51,14.0,0.29,0.20,MO_1008-Tumor_Dura,tcap,MO_1008-Tumor_Dura_tcap,TSPAN6,MO_1008
659,ENSG00000000005.6_3_TNMD,"ENST00000373031.5_2_TNMD-201,ENST00000485971.1...",873.50,631.57,0.0,0.00,0.00,MO_1008-Tumor_Dura,tcap,MO_1008-Tumor_Dura_tcap,TNMD,MO_1008
1318,ENSG00000000419.12_3_DPM1,"ENST00000371582.8_2_DPM1-201,ENST00000371584.8...",969.60,727.62,514.0,24.09,16.65,MO_1008-Tumor_Dura,tcap,MO_1008-Tumor_Dura_tcap,DPM1,MO_1008
1977,ENSG00000000457.14_4_SCYL3,"ENST00000367770.5_2_SCYL3-201,ENST00000367771....",3087.03,2845.03,155.0,1.86,1.28,MO_1008-Tumor_Dura,tcap,MO_1008-Tumor_Dura_tcap,SCYL3,MO_1008
2636,ENSG00000000460.17_6_C1orf112,"ENST00000286031.10_4_C1orf112-201,ENST00000359...",3064.19,2822.19,87.0,1.05,0.73,MO_1008-Tumor_Dura,tcap,MO_1008-Tumor_Dura_tcap,C1orf112,MO_1008

In [51]:
read_counts = pd.pivot_table(df,index="HUGO_gene",columns=["Tumor_Sample_Barcode"],values="expected_count")

In [52]:
read_counts.shape

(18887, 659)

In [53]:
read_counts.head()

Tumor_Sample_Barcode,MO_1008,MO_1012,MO_1013,MO_1014,MO_1015,MO_1020,MO_1040,MO_1054,MO_1071,MO_1074,...,TP_2032,TP_2034,TP_2054,TP_2060,TP_2061,TP_2064,TP_2069,TP_2077,TP_2078,TP_2079
HUGO_gene,,,,,,,,,,,,,,,,,,,,,
A1BG,28.45,0.0,128.85,32.0,37.76,35.0,31.13,73.24,158.1,94.62,...,32.11,137.81,23.11,178.0,1323.82,35.0,26.0,14.28,22.75,167.47
A1CF,56.00,0.0,12.00,1240.0,0.00,134.0,0.00,0.00,11.0,136.00,...,0.00,0.00,126.00,201.0,0.00,0.0,7.0,0.00,0.00,433.00
A2M,7038.00,2841.0,18252.00,6732.0,32590.00,23885.0,14963.00,46537.00,77667.0,34843.00,...,42573.00,15676.00,59007.00,54035.0,63389.00,24531.0,26792.0,17733.00,15028.00,1804.88
A2ML1,50.00,0.0,22.00,28.0,1.00,85.0,37.00,117.00,35.0,3900.00,...,268.00,31.00,19.00,230.0,193.00,31.0,67.0,0.00,2687.00,21.00
A3GALT2,4.00,0.0,4.00,0.0,0.00,0.0,4.00,3.00,3.0,10.00,...,0.00,2.00,1.00,0.0,2.00,0.0,0.0,2.00,0.00,156.00

In [54]:
read_counts = read_counts.astype('int32')

In [55]:
read_counts.head()

Tumor_Sample_Barcode,MO_1008,MO_1012,MO_1013,MO_1014,MO_1015,MO_1020,MO_1040,MO_1054,MO_1071,MO_1074,...,TP_2032,TP_2034,TP_2054,TP_2060,TP_2061,TP_2064,TP_2069,TP_2077,TP_2078,TP_2079
HUGO_gene,,,,,,,,,,,,,,,,,,,,,
A1BG,28,0,128,32,37,35,31,73,158,94,...,32,137,23,178,1323,35,26,14,22,167
A1CF,56,0,12,1240,0,134,0,0,11,136,...,0,0,126,201,0,0,7,0,0,433
A2M,7038,2841,18252,6732,32590,23885,14963,46537,77667,34843,...,42573,15676,59007,54035,63389,24531,26792,17733,15028,1804
A2ML1,50,0,22,28,1,85,37,117,35,3900,...,268,31,19,230,193,31,67,0,2687,21
A3GALT2,4,0,4,0,0,0,4,3,3,10,...,0,2,1,0,2,0,0,2,0,156

In [56]:
filename = join(PROSTATE_DATA_PATH,'processed/p1000_read_counts.csv')
read_counts.to_csv(filename)

In [57]:
read_counts.shape

(18887, 659)

## get interesting gene amplifications

In [29]:
filename = join(PROSTATE_DATA_PATH,'processed/P1000_data_CNA_paper.csv')

cnv = pd.read_csv(filename, index_col=0)

In [30]:
cnv.head()

,PIK3CD,MTOR,JUN,NRAS,NOTCH2,RIT1,NTRK1,DDR2,MDM4,PARP1,...,MCAM,RNF26,C1QTNF5,MFRP,USP2,LOC100499227,THY1,PVRL1,TRIM29,OAF
00-029N9_LN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01-087MM_BONE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
01-095N1_LN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
01-120A1_LIVER,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0
02-083E1_LN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [58]:
new_index = read_counts.columns

In [59]:
cnv_updated = cnv.reindex(new_index)

In [60]:
cnv_updated.head()

,PIK3CD,MTOR,JUN,NRAS,NOTCH2,RIT1,NTRK1,DDR2,MDM4,PARP1,...,MCAM,RNF26,C1QTNF5,MFRP,USP2,LOC100499227,THY1,PVRL1,TRIM29,OAF
Tumor_Sample_Barcode,,,,,,,,,,,,,,,,,,,,,
MO_1008,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
MO_1012,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
MO_1013,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MO_1014,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
MO_1015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [65]:
cnv_MDM4 = cnv_updated[['MDM4']].copy()

In [66]:
cnv_MDM4.head()

                      MDM4
Tumor_Sample_Barcode
MO_1008                0.0
MO_1012                1.0
MO_1013                1.0
MO_1014                0.0
MO_1015                0.0

In [71]:
mapp_dict= {-2:'Low', -1:'Low', 0:'Low', 1.0:'High', 2.0: 'High'}

In [72]:
mapp_dict

{-2: 'Low', -1: 'Low', 0: 'Low', 1.0: 'High', 2.0: 'High'}

In [73]:
cnv_MDM4.MDM4.replace(mapp_dict, inplace=True)

In [74]:
cnv_MDM4.head()

                      MDM4
Tumor_Sample_Barcode
MO_1008                Low
MO_1012               High
MO_1013               High
MO_1014                Low
MO_1015                Low

In [83]:
response_file = join(PROSTATE_DATA_PATH,'processed/response_paper.csv')
response = pd.read_csv(response_file, index_col =0)
response.head()

                                    response
id
AAPC-STID0000011640-Tumor-SM-2XU1H         0
AAPC-STID0000021561-Tumor-SM-3RVWB         0
AAPC-STID0000011949-Tumor-SM-2XU1I         0
AAPC-STID0000021610-Tumor-SM-2XU13         0
AAPC-STID0000021537-Tumor-SM-3RVW7         0

In [87]:
filename = join(PROSTATE_DATA_PATH,'processed/MDM4_amps.csv')
to_be_Saved = cnv_MDM4.join(response)
to_be_Saved.to_csv(filename)

In [88]:

cnv_PDGFA = cnv_updated[['PDGFA']].copy()
cnv_NOTCH1 = cnv_updated[['NOTCH1']].copy()

In [89]:
cnv_NOTCH1.NOTCH1.replace(mapp_dict, inplace=True)
cnv_PDGFA.PDGFA.replace(mapp_dict, inplace=True)

In [90]:
filename = join(PROSTATE_DATA_PATH,'processed/NOTCH1_amps.csv')
to_be_Saved = cnv_NOTCH1.join(response)
to_be_Saved.to_csv(filename)



filename = join(PROSTATE_DATA_PATH,'processed/PDGFA_amps.csv')
to_be_Saved = cnv_PDGFA.join(response)
to_be_Saved.to_csv(filename)